@page "/"
@using Klemm.One.App.Helper.Interops
@using Klemm.One.App.Model
@using Klemm.One.App

<p class="introduction-text">Hi, my Name ist Christian Klemm. I'm a German developer.</p>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="@OpenGithub">
    <svg aria-hidden="true" style="fill: white" height="24" version="1.1" viewBox="0 0 16 16" width="24"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
    Visit me at GitHub
</button>
<br/>
<br />
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="@SendMail">
    <i class="material-icons">
        email
    </i>
    Write me
</button>

<br/><br/>
<span class="pgp-key-info">
    <b>PGP</b>: <a target="_blank" href="https://keyserver.ubuntu.com/pks/lookup?op=vindex&fingerprint=on&search=0xCD2E8B32E753B618" rel="noreferrer">E753B618</a><br/>
    <b>Fingerprint</b>: C3F9BA0EC2FE4D7ED38A5845821FD9A02B1A97A6
</span>

<style>
    .demo-card-square.mdl-card {
        width: 320px;
        height: 320px;
    }
    .demo-card-square > .mdl-card__title {
        color: #fff;
    }
</style>

<br/>
<br/>
<br/>

<div class="skills-container">
    @foreach (var skill in Skill.GetSkills())
    {
        <div class="demo-card-square mdl-card mdl-shadow--6dp">
            <div class="mdl-card__title mdl-card--expand">
                <img style="height: 4rem; margin-right: 1rem;" src="images/programming-languages/@skill.Image"/>
                <h2 class="mdl-card__title-text">@skill.Name</h2>
        
            </div>
            <div class="mdl-card__supporting-text">
                <span>@skill.SkillLevel</span>
                <br/>
                <br/>
                <p>
                    @skill.Description
                </p>
            </div>
        </div>
    }
</div>

@functions
{

    void OpenGithub()
    {
        Window.Open(Klemm.One.App.Properties.Resources.GithubProfileUrl, "_self");
    }

    void SendMail()
    {
        Window.Open("mailto:" + Klemm.One.App.Properties.Resources.ContactMailAdress, "_self");
    }

}
